@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Patrick Hand";
    src: url("./PatrickHand-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans Medium";
    src: url("./NotoSans-Medium.ttf");
}

@font-face {
    font-family: "Noto Sans Bold";
    font-weight: bold;
    src: url("./NotoSans-Bold.ttf");
}
@font-face {
    font-family: "Noto Sans Light";
    src: url("./NotoSans-Light.ttf");
}

@font-face {
    font-family: "Noto Sans Black";
    src: url("./NotoSans-Black.ttf");
}

@font-face {
    font-family: "Noto Sans";
    src: url("./NotoSans-Thin.ttf");
}
@font-face {
    font-family: "Noto Sans Regular";
    font-weight: 700;
    src: url("./NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans Bold";
    font-weight: 600;
    src: url("./NotoSans-Bold.ttf");
}
.noto-sans-regular {
    font-family: "Noto Sans Regular", sans-serif;
}
.noto-sans-black {
    font-family: "Noto Sans Black", sans-serif;
}
.noto-sans-bold {
    font-family: "Noto Sans Bold", sans-serif;
}
.noto-sans-thin {
    font-family: "Noto Sans Thin", sans-serif;
}
.noto-sans-medium {
    font-family: "Noto Sans Medium", sans-serif;
}
.noto-sans-light {
    font-family: "Noto Sans Light", sans-serif;
}

body {
    font-family: "Patrick Hand", "sans-serif";
}
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes LoadingColor {
    0% {
        fill: #9ec8b9;
    }
    25% {
        fill: #ff6c22;
    }
    50% {
        fill: #8acdd7;
    }
    75% {
        fill: #00ff15;
    }
    100% {
        fill: #7752fe;
    }
}
.swal2-container {
    z-index: 9999999999999999;
}

.cls-1 {
    fill-rule: evenodd;
}
