@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Patrick Hand';
    src: url('./PatrickHand-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans Medium';
    src: url('./NotoSans-Medium.ttf');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-weight: bold;
    src: url('./NotoSans-Bold.ttf');
}
@font-face {
    font-family: 'Noto Sans Light';
    src: url('./NotoSans-Light.ttf');
}

@font-face {
    font-family: 'Noto Sans Black';
    src: url('./NotoSans-Black.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-Thin.ttf');
}
@font-face {
    font-family: 'Noto Sans Regular';
    src: url('./NotoSans-Regular.ttf');
}
@font-face {
    font-family: 'Noto Sans Bold';
    src: url('./NotoSans-Bold.ttf');
}

@font-face {
    font-family: 'Sedgwick Ave Display';
    src: url('./SedgwickAveDisplay-Regular.ttf');
}
/* Nền trong suốt */
@font-face {
    font-family: 'Londrina Outline Regular';
    src: url('./LondrinaOutline-Regular.ttf');
}
/* Kiểu ngày */
@font-face {
    font-family: 'Jaini';
    src: url('./Jaini-Regular.ttf');
}

/* Kiểu time có nền */
@font-face {
    font-family: 'Jersey25 Charted Regular';
    src: url('./Jersey25Charted-Regular.ttf');
}
@font-face {
    font-family: 'Time';
    src: url('./Jersey25Charted-Regular.ttf');
}
/* Kiểu vuông góc */
@font-face {
    font-family: 'ZCOOLQingKeHuangYou';
    src: url('./ZCOOLQingKeHuangYou-Regular.ttf');
}
/* Chữ ngoàn nghèo nghệ thuật */
@font-face {
    font-family: 'Finger Paint Regular';
    src: url('./FingerPaint-Regular.ttf');
}
@font-face {
    font-family: 'D7';
    src: url('./digital-7.ttf');
}
.f-time {
    font-family: 'Time';
}
.f-time-square {
    font-family: 'ZCOOLQingKeHuangYou';
}
.f-time-d-7 {
    font-family: 'D7';
}

.f-finger-paint-regular {
    font-family: 'Finger Paint Regular';
}
.londrina-outline-regular {
    font-family: 'Londrina Outline Regular', sans-serif;
}
.noto-sans-regular {
    font-family: 'Noto Sans Regular', sans-serif;
}
.noto-sans-black {
    font-family: 'Noto Sans Black', sans-serif;
}
.noto-sans-bold {
    font-family: 'Noto Sans Bold', sans-serif;
}
.noto-sans-thin {
    font-family: 'Noto Sans Thin', sans-serif;
}
.noto-sans-medium {
    font-family: 'Noto Sans Medium', sans-serif;
}
.noto-sans-light {
    font-family: 'Noto Sans Light', sans-serif;
}

.font-start {
    font-family: 'Sedgwick Ave Display', sans-serif;
}

body {
    font-family: 'Patrick Hand', 'sans-serif';
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes LoadingColor {
    0% {
        fill: #9ec8b9;
    }
    25% {
        fill: #ff6c22;
    }
    50% {
        fill: #8acdd7;
    }
    75% {
        fill: #00ff15;
    }
    100% {
        fill: #7752fe;
    }
}
.swal2-container {
    z-index: 9999999999999999;
}

.cls-1 {
    fill-rule: evenodd;
}
.run1 {
    animation: run1 2s linear infinite;
}
@keyframes run1 {
    0% {
        left: -38px;
    }
    100% {
        left: calc(100% + 38px);
    }
}

.run2 {
    animation: run2 2s linear infinite;
}
@keyframes run2 {
    0% {
        right: -35px;
    }
    100% {
        right: calc(100% + 35px);
    }
}

.words-year {
    font-size: 0;
    line-height: 1.5;
}

.words-year span {
    display: inline-block;
    animation: move 3s ease-in-out infinite;
    color: #8a6b96;
}

@keyframes move {
    0% {
        color: #8a6b96;
    }
    50% {
        color: #c6b1ce;
    }
    100% {
        color: #8a6b96;
    }
}

.words-year span:nth-child(2) {
    animation-delay: 0.5s;
}

.words-year span:nth-child(3) {
    animation-delay: 1s;
}

.words-year span:nth-child(4) {
    animation-delay: 1.5s;
}

.words-year span:nth-child(5) {
    animation-delay: 2s;
}

.words-year span:nth-child(6) {
    animation-delay: 2.5s;
}

.words-year span:nth-child(7) {
    animation-delay: 3s;
}

.svg-text text {
    font-family: 'Jaini';
    letter-spacing: 3px;
    stroke: #8a6b96;
    font-weight: 700;
    animation: textAnimate 5s infinite alternate;
    stroke-width: 0.5px;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: #8a6b96;
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%);
    }
}
