@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Patrick Hand";
    src: url("./PatrickHand-Regular.ttf");
}
body {
    font-family: "Patrick Hand", "sans-serif";
}
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes LoadingColor {
    0% {
        fill: #9ec8b9;
    }
    25% {
        fill: #ff6c22;
    }
    50% {
        fill: #8acdd7;
    }
    75% {
        fill: #00ff15;
    }
    100% {
        fill: #7752fe;
    }
}
.swal2-container {
    z-index: 9999999999999999;
}

.hexagon {
}
